.header {
    height: 80px;
    background-color: red;
    .logo {
        width: 20%;
        display: inline-block;
        line-height: 80px;
        img {
            height: 70px;
            vertical-align: text-top;
        }
    }
    nav {
        display: inline-block;
        width: 60%;
        text-align: right;
        ul {
            li {
                display: inline-block;
                line-height: 80px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
